.navbarCustom{
    background: #2a75bb !important;
    color: #fff !important;
    padding: 0 !important;
    margin-bottom: 10px;
}

.main,.home{
 color: #fff !important;
}
.main{
    margin: 0 !important;
}
.home i {
    font-size: 30px;
}
.nav-item{
  padding:0 6px;
  border-right: 1px solid #5495d2 !important;
}
.nav-item a {
    color: #fff !important;
}

.navbar-sticky{
    position:sticky !important;
    top: 0;
}